<div style="margin-top:auto;" class="lg:mb-5 py-3 uk-link-reset">
    <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
        <div class="flex space-x-2 text-gray-700 uppercase">
                        <a href="{% url 'about' %}">Acerca de</a>
                        <a href="{% url 'contact' %}">Ayuda</a>
                        <a href="{% url 'terms' %}">Terminos</a>
                        <a href="{% url 'policy' %}">Privacidad</a>
        </div>
        <p class="capitalize"> Derechos reservados © SONET</p>
    </div>
</div> 