<header>
    <div class="px-5">
        <a href="/">
            <b><h1 style="font-size: 1.5rem;">SONET</h1></b>
         </a>
    </div>
    <div class="header_inner">
        <form action="/search" method="POST">
            {% csrf_token %}
            <div class="left-side">
                <input type="text" name="username" placeholder="Search for username..">
                <button type="submit"><i class="fa fa-search fa-1x"></i></button>
            </div>
        </form>

        {% if user.is_authenticated %}
        <div class="right-side lg:pr-4">
            <!-- upload -->
            <a href="#"
                class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block mr-4 px-4 py-2 rounded shado text-white">
                <ion-icon name="add-circle" class="-mb-1
                         mr-1 opacity-90 text-xl uilus-circle"></ion-icon>Subir imagen</a>
            <!-- upload dropdown box -->
            <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                class="header_dropdown">

                <!-- notivication header -->
                <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                    <h4>Subir imagen</h4>
                </div>

                <!-- notification contents -->

                <div class="flex justify-center flex-center text-center">

                    <div class="flex flex-col choose-upload text-center">

                        <form action="upload" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div>
                                <input type="file" name="image-upload">
                                <br>
                                <!-- <a href="#" class="button soft-warning small">Seleccionar archivo</a> -->
                                <textarea class="button soft-warning small" name="caption"
                                    placeholder="Escribi algo..."></textarea>
                                <br>
                                <button type="submit" class="button">Subir</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm text-center">
                    No subas imagenes de mas de 10MB
                </div>
            </div>

            <!-- Messages -->

            {% comment %} <a href="#" class="header-links-item">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true" role="img" width="0.5em" height="0.5em" preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 16 16">
                    <g fill="currentColor">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    </g>
                </svg>
            </a>
            <div uk-drop="mode: click;offset: 4" class="header_dropdown">
                <h4 class="-mt-5 -mx-5 bg-gradient-to-t from-gray-100 to-gray-50 border-b font-bold px-6 py-3">
                    Messages </h4>
                <ul class="dropdown_scrollbar" data-simplebar>
                    <li>
                        <a href="#">
                            <div class="drop_avatar"> <img src="{% static 'assets/images/avatars/avatar-1.jpg' %}"
                                    alt="">
                            </div>
                            <div class="drop_content">
                                <strong> Taiye </strong> <time> 6:43 PM</time>
                                <p> hi tomi </p>
                            </div>
                        </a>
                    </li>



                </ul>
                <a href="#" class="see-all">See all</a>
            </div> {% endcomment %}

            <!-- profile -->

            
            <a href="#">
                <img src="{{user_profile.profile_image.url}}" class="header-avatar" alt="">
            </a>
            <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                <ul>
                    <li><a href="{% url 'settings' %}"> Configuración </a> </li>
                    <li><a href="{% url 'profile' user.username %}"> Tu perfil </a> </li>
                    {% comment %} <li><a href="explore.html">explore </a> </li> {% endcomment %}
                    <li><a href="{% url 'contact' %}">Ayuda</a> </li>
                    <li><a href="{% url 'signin' %}">Cerrar sesión</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</header>