{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col items-center text-3xl my-6">
    <h1 class="pb-7">Reestablecer contraseña</h1>

    <p class="text-xl text-center">Si olvidaste tu contraseña, por favor ingresa tu correo electrónico, recibirás un enlace para crear una nueva contraseña.</p>
</div>

<div class="flex flex-col items-center">
    <form class="grid gap-2" action="" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Enviar email">
    </form>
</div>

<div class="flex flex-col items-center mt-5">
    <a href="{% url 'index' %}" class="button">Volver</a>
</div>

{% endblock content %}